Options +FollowSymlinks
#on active la réécriture d'URL
RewriteEngine on

RewriteBase /WikiFFX/
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

#On prend toute l'url et on la redirige vers index.php
RewriteRule ^([a-zA-Z0-9\-\_\/].*)$ index.php?p=$1
